@import "../../variable.css";

.pointsContainer{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background-image: url("../../assets//Team//bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.pointsTitle{
   font-weight: 700;
   padding-top: 10px;
   color: var(--text-color);
   font-size: 50px;
   
}
.simg{
    height: 20px;
    width: 23px;
}
.timg{
    height: 26px;
    width: 25px;
}
.points_table{
    width: 900px;
    opacity: 0.8;
}
.winner{
    height: 35px;
    width: 45px;
    padding-right: 10px;
}

.firstsecond,.eliminated{
    color: #12fd12;
    font-size: 25px;
    font-weight: 700;
    padding-right: 10px;
}
.eliminated{
    color:red;
    padding-right: 10px;
}
.eliminated4{
  color: orange;
  font-size: 25px;
    font-weight: 700;
    padding-right: 10px;
}
.qualifiedTeams{
    border-bottom: 2px dashed black;
}
.tableflex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
   
}

.recent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


@media screen and (max-width:375px){
    .pointsTitle{
        font-size:30px;
    }
}