.abtCardImg{
    height: 300px;
    width: 335px;
    object-fit:cover;
}
.abtCard{
    width: 336px;
}
.abtCardSubTitle{
    font-size: 20px;
}
.abtCardTitle{
    font-size: 19px;
}
@media screen and (max-width:375px){
    
    .abtCardImg{
        height: 250px;
        width: 100%;
    }
    .abtCard{
        width: 290px;
    }
}