@import '../../variable.css';
.Home-container{
    background: var(--black);
    color: var(--bg-color);
    padding-bottom: 40px;
    width: 100%;
}
video{
    width: 100%;
    z-index: 1;
    height: 650px;
    border-radius: 20px;
}
.cups{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_head{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
    padding: 10px;
}
.home_head img{
    width: 85px;
    height: 80px;
}
.homeTitle{
    margin-left: 25%;
    margin-top: 10px;
    
}

.homeTitle h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    justify-self:center ;
  
}

.cupTitle,.nocupTitle{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 50px;
    
}
.HomeCardContainer{
    width: 95%;
   margin-left: 30px;
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 50px;
}
.cardLength1{
    width:350px ;  
}
.cardLength2{
    width:600px ;  
}
.noCup_container{
    margin-top: -40px;
    padding-bottom: 20px;
}
.nocupTitle{
    color: red;
}

.noCup{
    display: flex;
    align-items: center;
    margin-top: 5px;
    box-shadow: 0 0 20px #fff;
    margin: 20px;
    border-radius: 10px;
    border: 2px solid #fff;
    
}
.noCup img{
   width: 200px;
   height: 200px;
   float: left;
}
.noCup p{
    font-size: 23px;
    padding: 10px;
}
.dcNoCup{
    color: yellow;
}
@media screen and (max-width:768px){
   .cups{
    margin-top: 20px;
    
   }
   .home_head{
    margin-bottom: 20px;
   }
   .homeTitle{
    margin-left: 0%;
    margin-bottom: auto;
    margin-top: auto;
    
} 
.homeTitle h1{
    font-size: 30px;
}
.noCup_container{
    margin-top: -10px;
}
.cupTitle{
    margin-top: -30%;
    font-size: 30px;
    margin-bottom: 15px;
}
.noCup{
    flex-direction: column;
    padding: 15px;
}
video{
    margin-top: -40%;
}
}